page-new-denuncia {
    .take-photo-btn, .taken-photo {
        width:  70vw;
        height: 70vw!important;
        border-radius: 50%;
        margin: 2rem;
    }

    .take-photo-btn ion-icon {
        font-size: 6em;
    }

    .submit-btn {
        position: fixed;
        bottom: 1rem;
        width: 60vw;
        left:  20vw;
    }

}
